@model Proyecto_TruequesUCR.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nombre_Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre_Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comerciante.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comerciante.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoItem.Nombre_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoItem.Nombre_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotos.Email_Item_Fotos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotos.Email_Item_Fotos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
