<!--
    La funcionalidad relacionada con la Actividad Supervisada del 26 de Mayo del 2020 se va a realizar en este archivo.
    La historia de usuario a desarrollar corresponde a la ROD-1-8 del Sprint Backlog del equipo Roditas.
    Como tareas técnicas se tiene:
    -Crear un prototipo de la vista a desarrollar.
    -Validar el prototipo con los stakeholders.
    -Investigar cómo integrar bootstrap con Razor para darle estilo a la vista.
    -Poner la funcionalidad de filtrar en un div a la izqierda de la pantalla.
    -Hacer que cada uno de los items sea un div que va hacia abajo.
    -Darle estilo a los divs.
-->

@model Proyecto_TruequesUCR.Models.ViewItem

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/General.css">
    <link rel="stylesheet" href="~/Content/Roditas.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Index.css">
    <link rel="stylesheet" href="~/Content/DisplayBusqueda.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="~/Scripts/EliminarItem.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="containerNavBarGeneral" style="z-index:100; position:relative;">
        <ul class="navBarGeneral">
            <li class="navBarGeneralLink"><a href="/Home/Index">Inicio</a></li>
            <li class="navBarGeneralLink"><a href="/Home/About">Acerca de</a></li>
            <li class="navBarGeneralLink"><a href="/Home/Contact">Contacto</a></li>
            @if (Request.IsAuthenticated)
            {
                <li class="navBarGeneralLink"><a id="MisOfertas" href="/Ofertas/IndexOfertas">Mis ofertas</a></li>
                <li class="navBarGeneralLink">
                    <a>Mis trueques</a>
                    <ul>
                        <li><a href="/Trueques/IndexTruequesActivos">Trueques activos</a></li>
                        <li><a href="/Trueques/IndexTruequesExpirados">Trueques expirados</a></li>
                        <li><a href="/Trueques/IndexTruequesEliminados">Trueques eliminados</a></li>
                    </ul>
                </li>
                <li class="navBarGeneralLink">
                    <a style=" color:black">Recomendaciones</a>
                    <ul>
                        <li><a href="/Recomendaciones/RecomendacionesPorGustos">Mis gustos</a></li>
                        <!--<li><a href="">Mi historial de búsqueda</a></li>-->
                    </ul>
                </li>
                <li class="navBarGeneralLink"><a href="/Denuncia/Index">Reportar Usuario</a></li>
            }
        </ul>
    </div>

    @if (ViewData["msg"] != null)
    {

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>@ViewData["msg"].</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    }
    <div class="container-fluid">
        <!-- La funcionalidad de filtrar se alinea a la izquierda de la pantalla -->
        <div class="row">
            <div class="col-3">
                <h2 class="text-center">Mis itemes</h2>
                <p class="text-center">
                    @Html.ActionLink("Agregar Item", "Create", null, htmlAttributes: new { @class = "btn btn-success" })
                </p>
                <div class="card">
                    @using (Html.BeginForm("Index", "Items"))
                    {
                        <article class="card-group-item container-fluid">
                            <h4>Filtrar por</h4>
                            <header class="card-header">
                                <h6 class="title">Categoría: </h6>
                            </header>
                            <ul>
                                @foreach (var cat in ViewBag.Nombre_Categoria_Item)
                                {

                                    var idLista = "lista" + cat.Nombre_Categoria;
                                    var onClick = "sacarHijos(\'" + "null\'" + ",\'" + cat.Nombre_Categoria + "\')";
                                    <li>
                                        <input id="@cat.Nombre_Categoria" name="Nombre_Categoria_Item[]" value="@cat.Nombre_Categoria" type="checkbox" onclick="@onClick" />
                                        <label for="@cat.Nombre_Categoria">@cat.Nombre_Categoria</label>
                                        <ul id="@idLista"></ul>
                                    </li>
                                }
                            </ul>
                        </article>
                        <article class="card-group-item container-fluid">
                            <header class="card-header">
                                <h6 class="title">Estado: </h6>
                            </header>
                            <ul>


                                @foreach (var estado in ViewBag.Nombre_Estado_Item)
                                {
                                    <li>
                                        <input type="checkbox" id="@estado.Text" name="Nombre_Estado_Item" value="@estado.Value" />
                                        <label for="@estado.Text">@estado.Text</label>

                                    </li>
                                }
                            </ul>
                        </article>
                        <article class="card-group-item container-fluid">
                            <div class="filter-content">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-success" style="width:100%; color :white;">
                                        <span>
                                            <strong>Filtrar</strong>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </div>
            <div class="col-9">
                <script>
                    function FiltroCategoriaSeleccionado() {
                        var filtroCategoria = document.getElementById("Nombre_Categoria_Item");
                        var filtroSeleccionado = filtroCategoria.options[filtroCategoria.selectedIndex].value;
                        console.log(filtroSeleccionado);
                        return filtroSeleccionado;
                    }

                    function FiltroEstadoSeleccionado() {
                        var filtroEstado = document.getElementById("Nombre_Estado_Item");
                        var filtroSeleccionado = filtroEstado.options[filtroEstado.selectedIndex].value;
                        return filtroSeleccionado;
                    }
                    var categoriaSeleccionada = FiltroCategoriaSeleccionado();
                    var estadoSeleccionado = FiltroEstadoSeleccionado();
                    if (categoriaSeleccionada != "" && estadoSeleccionado != "") {
                        document.writeln("Mostrando resultados con categoría: " + categoriaSeleccionada + " y con estado: " + estadoSeleccionado);
                    } else if (categoriaSeleccionada != "" && estadoSeleccionado == "") {
                        document.writeln("Mostrando resultados con categoría: " + categoriaSeleccionada);

                    } else if (categoriaSeleccionada == "" && estadoSeleccionado != "") {
                        document.writeln("Mostrando resultados con estado: " + estadoSeleccionado)
                    }

                </script>

                @Html.ActionLink("Ver Items Truequeados", "ItemsTruequeados", null, new { @style = "color:#6dc067;" })

                @if (Model.Items.Count() == 0)
                {
                    <h1 class="text-center" id="displayFiltros">
                        @Html.DisplayName("No hay items disponibles")
                    </h1>

                }
                @foreach (var item in Model.Items)
                {
                    <div class="row py-4">
                        <div class="col-3">
                            @{
                                if (item.Fotos != null)
                                {
                                    if (item.Fotos.Count > 1)
                                    {
                                        String carrusel = "carruselImagenes" + item.Id_Item;
                                        int index = 0;
                                        <div id="@carrusel" class="carousel slide border" style="width: 150px; height: 150px; display: block; margin-left: auto; margin-right: auto; width: 50%;">
                                            <div class="carousel-inner" role="listbox">
                                                <ol class="carousel-indicators indicadoresCarrusel">
                                                    @foreach (var foto in item.Fotos)
                                                    {
                                                        String slideClass = "active";
                                                        String slide = "" + index;
                                                        if (index != 0)
                                                        {
                                                            slideClass = "";
                                                        }
                                                        ++index;
                                                        <li data-target="#@carrusel" data-slide-to="@slide" class="@slideClass"></li>
                                                    }
                                                </ol>
                                                @{ index = 0; }
                                                @foreach (var foto in item.Fotos)
                                                {
                                                    String img64 = Convert.ToBase64String(foto.Foto);
                                                    String img64Url = string.Format("data:image/" + "jepg" + ";base64,{0}", img64);
                                                    String clase;
                                                    if (index == 0)
                                                    {
                                                        clase = "carousel-item active";
                                                    }
                                                    else
                                                    {
                                                        clase = "carousel-item";
                                                    }
                                                    <div class="@clase">
                                                        <img src="@img64Url" class="img-fluid" style="width: 100%; height: 150px;" />
                                                    </div>
                                                    ++index;
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        if (item.Fotos.Count == 1)
                                        {
                                            foreach (var foto in item.Fotos)
                                            {
                                                String img64 = Convert.ToBase64String(foto.Foto);
                                                String img64Url = string.Format("data:image/" + "jepg" + ";base64,{0}", img64);
                                                <img src="@img64Url" class="img-fluid" style="display: block; margin-left: auto; margin-right: auto; width: 150px; height: 150px;" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="~/Content/Images/fotoPredeterminada.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" />
                                        }
                                    }
                                }
                            }
                        </div>
                        <div class="col-2">
                            <h2>@Html.DisplayFor(modelItem => item.Titulo)</h2>
                            @Html.DisplayFor(modelItem => item.Descripcion)<br />
                            @if (ViewBag.Archivo != null)
                            {
                                if (ViewBag.Archivo != "")
                                {
                                    <img style="display: inline; max-height: 16px; max-width: 16px; margin-right: 5px;" src="~/Content/Images/adjuntar.png" />@ViewBag.Archivo
                                }
                            }
                        </div>
                        <div class="col-2">

                            <div class="row">

                                @Html.DisplayName("Categoria")

                            </div>
                            <div class="row">

                                @Html.DisplayName("Estado")

                            </div>
                            <div class="row">

                                @Html.DisplayName("Etiquetas")

                            </div>
                            <div class="row">

                                @Html.DisplayName("Visibilidad")

                            </div>
                            <div class="row">

                                @Html.DisplayNameFor(model => model.Item.Fecha)

                            </div>
                            <div class="row">

                                @Html.DisplayName("Nombre del truequeador")

                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                @Html.DisplayFor(modelItem => item.Categoria.Nombre_Categoria)
                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => item.EstadoItem.Nombre_Estado)
                            </div>
                            <div class="row">
                                @if (item.Etiquetas.Count == 0)
                                {
                                    @Html.DisplayName("No contiene etiquetas")
                                }
                                @foreach (var etiqueta in item.Etiquetas)
                                {
                                    @Html.DisplayName(etiqueta.Nombre_Etiqueta)
                                    @Html.DisplayName(" ")
                                }

                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => item.Visibilidad.Tipo)
                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => item.Comerciante.Nombre)
                            </div>
                        </div>
                        <div class="col-2">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id_Item, email = item.Email_Comerciante }, new { @style = "color:#6dc067;" }) |
                            <button class="btn btn-default" type="button" style="color:#6dc067" value="delete" id="@item.Id_Item" onclick='Delete(@item.Id_Item,"@item.Email_Comerciante",@item.IdTrueque)'>Eliminar</button>

                        </div>

                    </div>
                    <hr style="color: lightgray; background-color: lightgray;" />
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>
                <div class="modal-body container-fluid">
                    ...
                </div>

            </div>

        </div>

    </div>
</body>
</html>
@section scripts{
    <script>
        function Delete(id, email,trueque) {

            $.get("@Url.Action("delete","items")/" + id + "?email=" + email + "&id_trueque=" + trueque,
                function (data) { $('.modal-body').html(data); })
            $('#myModal').modal('show');
        }



        $('#myModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
        })
    </script>
    @Scripts.Render("~/Scripts/CategoriasHijo.js")
}